$body-color: #222;

// Grid gutter
$grid-gutter-width: 20px;

// RFS
$rfs-base-value: 1rem;
$rfs-factor: 50;

// Colors
$accent: #D4B254;
$on-accent: #fff;

$theme-colors: (
    "accent": $accent,
    "on-accent": $on-accent
);

// Enable shadows
$enable-shadows: true;

// Enable gradients
$enable-gradients: true;

// Links
$link-color: currentcolor;
$link-decoration: none;
$link-hover-color: currentcolor;
$link-hover-decoration: none;

// Buttons
$btn-padding-y: 20px;
$btn-padding-x: 57px;
$btn-border-radius: 30px;
$btn-font-size: 15px;
$btn-line-height: 18px;
$btn-font-weight: 400;
$btn-font-family: 'Roboto', sans-serif;

// Typography
$headings-margin-bottom: 0;
$headings-font-weight: 700;
$headings-color: #222;