/*!
 * Front-end Trial
 * Copyright 2022-2025 Marios Sofokleous
 */

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "_settings.scss";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// 6. Include any other optional stylesheet partials as desired; list below is not inclusive of all available stylesheets
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";

// 8. Add additional custom code here
@mixin section-preheading {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.23076922607421874em;
  font-weight: 400;
  text-transform: uppercase;
  color: #d4b254;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.animation-float {
  transition-duration: .3s;
  transition-property: transform;
  transition-timing-function: ease-out;

  &:hover,
  &:focus,
  &:active {
    transform: translateY(-8px);
  }
}

.header-social {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-bottom: 0;

  &__item {
    width: 32px;
    height: 32px;
    margin-inline-end: 8px;

    >a {
      display: block;
      text-align: center;
      width: 100%;
      height: 100%;
    }
  }
}

.custom-navbar {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 400ms ease-in-out;

  &_bg {
    background-color: rgba(0, 0, 0, 0.95);
  }

  &__container {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(xxl) {
      padding: 16px 0;
    }
  }

  &__social-wrapper {
    width: 192px;

    @include media-breakpoint-down(xxl) {
      width: auto;
    }
  }

  &__cta-wrapper {
    width: 192px;

    @include media-breakpoint-down(xxl) {
      width: auto;
    }
  }

  &__cta {
    border-radius: 25px;
    font-size: 13px;
    line-height: 15px;
    padding: 16.5px 40px;
    letter-spacing: 0.23076922607421874em;
    display: flex;
    align-items: center;
    margin-left: auto;
    border: 1px solid #fff;
    color: #fff;

    img {
      transition: filter 0.15s ease-in-out;
    }

    &:hover {
      background-color: $accent;
      color: $on-accent;

      img {
        filter: invert(1);
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 16px;
    }
  }

  &__toggler {
    width: 49px;
    height: 49px;
    border-radius: 4px;
  }
}

.custom-nav {
  &__primary-item {
    flex: 1 1 0;

    &_logo {
      flex-grow: 1;
      padding: 0 7vw;

      @include media-breakpoint-down(xxl) {
        padding: 0 1rem;
      }
    }
  }

  &__secondary-link {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.23076922607421874em;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    transition: border .3s ease-in-out;

    &:hover {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }
}

.custom-carousel {
  &__indicators {
    [data-bs-target] {
      background-color: #fff;
      opacity: 1;
    }

    .active {
      background-color: #d4b254;
    }
  }

  &__container {
    padding: 0 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    max-width: 700px;
  }

  &__image {
    width: 100%;
    height: 900px;
    max-height: 100vh;
    object-fit: cover;

    @include media-breakpoint-down(sm) {
      max-height: 90vh;
    }
  }

  &__preheading {
    text-shadow: 0 0 4px rgb(0, 0, 0);
    @include section-preheading;
    color: #fff;
  }

  &__heading {
    @include font-size(3.25rem);
    letter-spacing: -0.019230770111083983em;
    line-height: 1.1;
    color: #fff;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    margin-bottom: 29px;
  }
}

.custom-about {
  &__preheading {
    margin-bottom: 3px;
    @include section-preheading;
  }

  &__image {
    width: 50vw;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: -10px;

    @include media-breakpoint-down(md) {
      position: static;
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  }

  &__right {
    @include rfs(3.75rem, padding-left);
    @include rfs(10.625rem, padding-top);
    @include rfs(10.625rem, padding-bottom);

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  &__heading {
    @include font-size(2.625rem);
    line-height: 1.25;
    @include rfs(2rem, margin-bottom);
  }

  &__text {
    font-size: 16px;
    margin-bottom: 27px;
    color: #777;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
    @include rfs(7.5rem, padding-top);
    @include rfs(7.5rem, padding-bottom);
  }
}

.custom-testimonials {
  text-align: center;
  @include rfs(7.5rem, padding-top);
  @include rfs(7.5rem, padding-bottom);
  background-color: #eee;

  &__container {
    max-width: 600px;
    margin: 0 auto;

    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }

  &__preheading {
    margin-bottom: 18px;
    @include section-preheading;
  }

  &__button {
    margin-top: 36px;
  }

  &__heading {
    font-size: 32px;
    line-height: 1.3125;
    margin-bottom: 36px;
  }
}

.testimonials-slider {
  &__statement {
    font-size: 18px;
    line-height: 2;
    color: #777;
    margin-bottom: 13px;
  }

  &__author {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 28px;
    color: #777;
  }
}

.tns-controls {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: calc(100% - 16.66%);
  margin-right: -50%;
  transform: translate(-50%, calc(50% - 24px));
  display: flex;
  justify-content: space-between;
  z-index: 0;

  button {
    padding: 0;
    border: none;
    display: inline-block;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.tns-nav {
  display: none;
  margin-top: 24px;

  button {
    width: 16px;
    height: 16px;
    border: 1px solid $accent;
    margin: 0 8px;
    border-radius: 50%;

    &.tns-nav-active {
      background-color: $accent;
    }
  }

  @include media-breakpoint-down(lg) {
    display: block;
  }
}

.custom-gallery {
  @include rfs(5.1875rem, padding-top);
  @include rfs(6.25rem, padding-bottom);
  text-align: center;

  &__button {
    overflow: hidden;
    position: relative;
    border: none;
    padding: 0;

    &::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }

    &:hover::before {
      -webkit-animation: shine .75s;
      animation: shine .75s;
    }
  }

  &__cta {
    margin-top: 20px;
  }

  &__link {
    display: block;
    cursor: pointer;
    margin-bottom: 20px;
  }

  &__image {
    object-fit: cover;
  }

  &__heading {
    font-size: 32px;
    line-height: 1.3125;
    margin-bottom: 37px;
  }
}

.lightbox {
  display: block;

  &__image {
    max-width: 620px;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    ;
  }

  &__caption {
    font-size: 0.875rem;
    color: #ffffff;
    text-align: center;
    padding: 0 1rem;
  }
}

.custom-footer {
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0 60px 0;

  &__menu-mobile {
    display: none;
  }

  &__social-mobile {
    display: none;

    .footer-social {
      justify-content: center;
      margin-top: 24px;
    }
  }

  &__logo-wrapper {
    text-align: center;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2);
      width: calc(50% - 60px);
      left: 0;
      top: 16px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2);
      width: calc(50% - 60px);
      right: 0;
      top: 16px;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 35px;
  }

  &__copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 60px;
    margin-top: 38px;
  }

  &__heading {
    color: #fff;
    font-size: 24px;
    line-height: 1.75;
    margin-bottom: 24px;
    font-weight: 700;

    @include media-breakpoint-down(md) {
      margin-bottom: 12px;
    }

    &_two {
      @include media-breakpoint-down(md) {
        margin-top: 24px;
      }
    }

    &_three {
      @include media-breakpoint-down(md) {
        margin-top: 24px;
      }
    }

    &_four {
      margin-bottom: 34px;

      @include media-breakpoint-down(md) {
        margin: 24px 0;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__bottom-divider {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &__link {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.23076922607421874em;
    font-weight: 400;
    display: inline-block;
    font-family: 'Roboto', sans-serif;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  @include media-breakpoint-down(md) {
    background-image: none;

    &__menu-desktop {
      display: none;
    }

    &__menu-mobile,
    &__social-mobile {
      display: block;
    }
  }
}

.footer-social {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-bottom: 0;

  &__item {
    margin-right: 15px;
    transition: transform .3s ease-in-out;

    &:hover,
    &:active {
      display: inline-block;
      transform: scale(1.1);
    }
  }
}

.accordion-button {
  color: #fff;
  font-size: 24px;
  line-height: 1.75;
  font-weight: 700;
}

/* Keyframes */

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
